body {
    padding: 0;
    margin: 0;
    background-color: #406D96;
  }
  
  #map,
  body,
  html {
    height: 100%;
  }

  .img {
    float: right;
    width: 300px; /* Set the width of the image */
    height: auto;
}
  #chartContainer {
    background-color: #406D96; /* Set the background color of the button to blue */
    color:whitesmoke;
    padding: 20px; /* Add padding to create space around the chart */
    border-radius: 10px; /* Add rounded corners to the container */
    
}
.para{
  background-color:#406D96;
  color:whitesmoke;
}

.btn-custom {
  background-color: #2F3A56; /* Set the background color of the button to blue */
  color:whitesmoke; /* Set the text color of the button to white */
  border: 1px solid #2F3A56; /* Set the border color of the button to blue */
  padding: 5px 10px; /* Add padding to the button */
  border-radius: 5px; /* Add border radius to the button for rounded corners */
 margin-right:10px; 
}

  .col-md-12.jumbotron.text-center {
    background-color: #2F3A56; /* Set your desired color here */
    color:whitesmoke;
}

.well {
  background-color: #2F3A56; /* Set the background color of the button to blue */
  color:black;


}

#id {

  color:black;
}
.map_drop{  
  font-size: xx-large;

}
.panelhome {
  /* float: right;
  height: 100vh; /* Set the height of the panel to match the page height */
  width: 20%; /* Set the width of the panel */
  background-color:#406D96 ; /* Set the background color of the panel */
  color:whitesmokey;
  padding: 20px; Add padding inside the panel */
  .panel {
    display: flex;
    justify-content: space-between;
}

.left-text {
    text-align: left;
}


}

.right-panel{

  float: right;
  height: 100vh; /* Set the height of the panel to match the page height */
  width: 20%; /* Set the width of the panel */
}


.panel img {
  display: block;
  margin-bottom: 10px; /* Add margin between images */
}


.panel
{
  
  background-color: #2F3A56;
  color:whitesmoke;

}

.panel-body{
  background-color:#406D96;
  color:whitesmoke;

}
.panel-title{
  background-color: #2F3A56;
  color:whitesmoke;

}
.ddp{
  background-color: #2F3A56;
  color:whitesmoke;

}

.heading{
  background-color:#406D96;
  color:whitesmoke;
}
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #FFC857;
  color: white;
  text-decoration: none;
  border: 1px solid #FFC857;
  border-radius: 5px;
  margin-right: 10px;
}
